<h2>Welcome, to all of OUR recommendations</h2>
    <% if Recommendation.count > 0 %>
      <% Recommendation.all.each do |recommendation| %>
        <div class="recommendation">
          <h4><a href="/recommendations/<%= recommendation.id %>"> <%= recommendation.title %></a> recommended by <a href="/users/<%= recommendation.user.id %>"><%= recommendation.user.username %></a></h4>
        </div>
      <% end %>
    <% end %>
