<h2> Categories </h2>

<ul>
<% if Category.count > 0 %>
      <% Category.all.each do |category| %>
        <div class="category">
          <li><h4><a href="/categories/<%= category.id %>"> <%= category.name %></a></h4></li>
        </div>
      <% end %>
    <% end %>
</ul>
