<!doctype html>
<html>
  <head>
    <title>Recommendations!!</title>
  </head>
  <body>

    <div class="container">
      <h1>Welcome to our shared Recommendations!</h1>
      <h4>Look around... or leave one :)</h4>
      <%= yield %>
    </div>


    <!-- To add functionality, check if logged_in then show this text, otherwise skip -->
    <p>
      <form action="/logout" method="GET">
        <input type="submit" value="Log Out">
      </form>
    </p>

  </body>
</html>
